<%= render "shared/index"%>
<% @products.each do |product| %>
<div id=list_index>
    <span><%= link_to 'Show', mypage_product_path(product) %></span>
    <span><%= link_to 'Edit', edit_mypage_product_path(product) %></span>
    <span><%= link_to 'Destroy', mypage_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>
<h4>パトロンになったもの</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>プロジェクトの名前</th>
            </tr>
        </thead>
        <% current_user.items.each do |item|%>
            <tbody>
                <tr>
                    <td><%=item.title%></td>
                </tr>
            </tbody>
        <% end %>
    </table>
<% end %>