
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% if current_user.products.exists? %>
        <div class="main-project">
          <div class="first-one">
              <div class="card" style="width: 30rem;">
                <div class="box-in">
                  <% if @products.first.image? %>
                    <%= link_to image_tag(@products.first.image.url, {class:"card-img-top", alt:"Responsive image"}), mypage_product_path(@products.first) %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <%= @products.first.title%>
                  </div>
                  <div class="box-status">
                    <span><small>目標金額</small><%= @products.first.price%></span>
                    <span><small>状態</small><%= @products.first.status%></span>
                    <span>
                      <small>お返し</small>
                      <% @products.first.rewards.each do |reward| %>
                        <p class="card-text"><%= reward.title %></p>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
          </div>
          <div class="second-one">
            <% @products[1..-1].each do |product| %>
            <div class="second-wrapper">
              <div class="card" style="width: 16rem;">
                <div class="box-in">
                  <% if product.image? %>
                    <%= link_to image_tag(product.image.url, {class:"card-img-top", alt:"Responsive image"}), mypage_product_path(product) %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="card-title">
                    <%= product.title%>
                  </div>
                  <div class="box-status">
                    <span><small>目標金額</small><%= product.price%></span>
                    <span><small>状態</small><%= product.status%></span>
                    <span>
                      <small>お返し</small>
                      <% product.rewards.each do |reward| %>
                        <p class="card-text"><%= reward.title %></p>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
  <% else %>
    <h2> 現在ログインしていません </h2>
    <%= link_to "ログイン",  login_path, class: 'post' %> <!-- ログイン画面に移行する -->
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
  <% end %>
