<div class="container">
  <% if user_signed_in? %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->

    <% @products.each do |product| %>
      <div class="card" style="width: 18rem;">
        <% if product.image? %>
          <%= image_tag product.image.url, class:"card-img-top", alt:"Responsive image"%>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.title%></h5>
          <p class="card-text"><%= product.description%></p>
        </div>
        <div class="row">
          <div class="col">
            <h5 class="card-title">状態</h5>
            <%= product.status%>
          </div>
          <div class="col">
            <h5 class="card-title">目標価格</h5>
            <%= product.price%>
          </div>
          <div class="col">
            <h5 class="card-title">お返し</h5>
            <% product.rewards.each do |reward| %>
              <p class="card-text"><%= reward.title %></p>
            <% end %>
          </div>
          <div class="card-body">
            <div class="link_to">
              <%= link_to 'Show', mypage_product_path(product) %>
              <%= link_to 'Edit', edit_mypage_product_path(product) %>
              <%= link_to 'Destroy', mypage_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  <% else %>
    <h2> 現在ログインしていません </h2>
    <%= link_to "ログイン",  login_path, class: 'post' %> <!-- ログイン画面に移行する -->
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
  <% end %>
</div>
