.products
  - if user_signed_in?
    %p#notice= notice

    %h1.product_title Products
    .table-responsive
      %table.table.table-borderless
        %thead.thead-dark
          %tr
            %th{scope:"col"}参照する
            %th{scope:"col"}Title
            %th{scope:"col"}Price
            %th{scope:"col"}Description
            %th{scope:"col"}Status
            %th{scope:"col"}Message
            %th{scope:"col"}Users
            %th{scope:"col"}Rewards
            %th{scope:"col", colspan:"4"}

        %tbody
          - @products.each do |product|
            %tr
              %td= link_to 'Show', product
              %td= product.title
              %td= product.price
              %td= product.description
              %td= product.status
              %td= product.message
              %td= product.user_id
              - product.rewards.each do |reward|
                %td= reward.title




  - else
    %h2 現在ログインしていません
    =link_to "ログイン",  login_path, class: 'post'
    =link_to "新規登録", new_user_registration_path, class: 'post'
