- if user_signed_in?
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  / ログアウトをする
  %h1.product_title Products
  = search_form_for(@q, url:admin_products_path) do |f|
    = f.label :title, "Keyword"
    = f.search_field :title_eq
    = f.label :statuses_id_eq, '学部'
    = f.select :status, Product.statuses.keys
    = f.submit "検索"
    %table.table.table-borderless
      %thead.thead-dark
        %tr
          %th{scope:"col"} 参照する
          %th{scope:"col"} 編集する
          %th{scope:"col"} 削除する
          %th{scope:"col"} Title
          %th{scope:"col"} Price
          %th{scope:"col"} Description
          %th{scope:"col"}Status
          %th{scope:"col"} Message
          %th{scope:"col"} Users
          %th{scope:"col"} Rewards
          %th{:colspan => "4", :scope => "col"}
      %tbody
        - @products.each do |product|
          %tr
            %td= link_to 'Show', product_path(product)
            %td= link_to 'Edit', edit_admin_product_path(product)
            %td= link_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }
            %td= product.title
            %td= product.price
            %td= product.description
            %td= product.status
            %td= product.message
            %td= product.user.email
            - product.rewards.each do |reward|
              %td= reward.title
  %br/
- else
  %h2 現在ログインしていません
  = link_to "ログイン",  login_path, class: 'post'
  / ログイン画面に移行する
  = link_to "新規登録", new_user_registration_path, class: 'post'
  / 新規登録画面に移行する
