<%= form_with(model: product, local: true) do |form| %>
<div class="form-group">
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class:"form-control"%>
  </div>

 <div class="field">
    <% if product.image? %>
      <div class="thumbnail">
        <%= image_tag product.image.url %>
      </div>
    <% end %><br>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @product.persisted? && @product.image? %>
      <label>
        <%= f.check_box :remove_image %>
        画像を削除
      </label>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Product.statuses.keys,class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :message%>
    <%= form.text_area :message, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, class:"form-control"%>
  </div>


    <%= form.submit class:"btn btn-primary" %>

<% end %>
</div>
