- if user_signed_in?
    = form_with url: root_path, method: "get" do |form|
        = form.text_field :title
        = form.select :status, Product.statuses.to_a.map { |w| [w[0], w[1]] }
        = form.number_field :price_gteq,class:"form-control"
        %span ~
        = form.number_field :price_lt,class:"form-control"
        = form.submit "検索"
    %div.r
        - @products.each do |product|
            %div.col-sm-6
                %div.card
                    .card-body
                        %h3{class:"card-title"}= product.title
                        %div.row
                            .col
                                %span{scope:"col"} 価格
                                %h6.card-text= product.price
                                %span{scope:"col"} 詳細
                                %h6{class:"card-text"}= product.description
                                %span{scope:"col"} 状態
                                %h6{class:"card-text"}= product.status
                                %span{scope:"col"} メッセージ
                                %h6{class:"card-text"}= product.message
                                %span{scope:"col"} メール
                                %h6{class:"card-text"}= product.user.email
                                %span{scope:"col"} お返し
                                - product.rewards.each do |reward|
                                    %h6= reward.title

                            %div{class:"col"}
                                - if product.image?
                                    %div.thumbnail
                                    =image_tag product.image.url, class:"img-fluid", alt:"Responsive image"

                            %div#list_index
                                %span= link_to 'Show', product

- else
    %h2 現在ログインしていません
    = link_to "ログイン",  login_path, class: "post"
    = link_to "新規登録", new_user_registration_path, class:'post'

