- if user_signed_in?

    .row
        - @products.each do |product|
            .col-sm-6
                .card
                    .card-body.border-bottom{style:"height:20px"}
                        .card-image{style:'background-image:url("/uploads/product/image/7/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2019-12-27_22.01.14.png")'}
                    .card-body
                        %p= product.title
                        .col
                            .row
                                .col-3.order-first.box-status
                                    %span.small 価格
                                    %p.card-text= product.price
                                .col-9.order-last.box-status
                                    %span.small メール
                                    .card-text= product.user.email


                        %div#list_index
                            %span= link_to 'Show', product

    = paginate @products , class:"justify-content-center"

- else
    %h2 現在ログインしていません
    = link_to "ログイン",  login_path, class: "post"
    = link_to "新規登録", new_user_registration_path, class:'post'

